body {
    margin-left: 0px;
    height: 120vh;

}

nav a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: blueviolet;
}

#navbar {
    position: fixed;
    width: 100%;
    /*display: flex;
    justify-content: flex-end;*/
    border: solid whitesmoke 2px;
    background-color: cornsilk;
   z-index: 1;
}

#navbar-name {
    border: solid green 1px;
    background-color: grey;
    color: honeydew;
    list-style: none;
    border-radius: 30px;
    border: 1px solid black;
    width: 70px;
    text-align: left;
    float: left;
    margin-left: 70px;
}

#name {
    font-style: oblique;
    font-size: x-large;
    font-weight: 700;
}    

.navlink {
    list-style: none;
    display: inline;
    margin-right: 15px;
}

#navbar-list {
    margin-right: 70px;
    float: right;
}

#h1-header {
    position: relative;
    top: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    text-align: center;
}

main {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 150px;
}

#selfie {
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

#info {
    font-size: 18px;
    
}

#project-heading {
    position: relative;
    top: 250px;
    text-align: center;
}

#projects-section {
    position: relative;
    top: 250px;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    justify-content: center;
    
}

#project-ul {
    list-style: square ;
    margin: 10px 0px 10px 0px;
}

#project-ul li {
    margin: 10px 0px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    border: solid blue 1px;
    background-color: blue;
    color: white;
   
}

#footer-container {
    font-size: 17px;
    text-align: center;
    margin: 15px;
    font-weight: 600;
}

#ta-design {
    color: tomato;
}

@media only screen and (max-width: 600px) {
    

    #navbar {
        display: flex;
        flex-direction: column;
        align-items:  center;
    }

    #navbar-name {
        display: none;
    }

    #about-me {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    #project-heading {
        position: relative;
        top: 200px;
        text-align: center;
    }

    #projects-section {
        top: 200px;
    }
  }
